body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #071E22;
}
nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.container-wrapper {
    display: flex;
    flex: 1;
}
.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left {
    background-color: #f0f0f0;
}
.right {
    background-color: #d0d0d0;
}
img {
    max-width: 100%;
    height: 50px;
    width: 50px;
}