body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #071E22;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}
nav {
    background-color: #8D99AE;
    color: #EDF2F4;
    text-align: center;
    
    padding: 1em;
}
nav a {
    color: #EDF2F4;
    margin: 0 15px;
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.text {
    margin-right: 20px;
}
img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}
